<!DOCTYPE html>
<html>

<head>
  <title>YOLO-Object Detection</title>
  <link rel="stylesheet" type="text/css" href="../static/index.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/index.js"></script>
</head>

<body>



  <div class='App'>
    <h1>What's in the picture?</h1>
    <h5>By chunyongg</h5>
    <header class='App-header'>
      <div className="pre_img">
        <img id="imagebox" src="">
      </div>
      <span id="timetaken"></span>
      <form>
        <input id="imageinput" type="file" name="image" onchange="readUrl(this)">
      </form>
      <button name="send" id="sendbutton">Send</button>
    </header>
  </div>

</body>

</html>